@import 'tailwindcss';
@config "../../tailwind.config.mjs";

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}